main #graphic-design .column {
					  width: 25%;
	-ms-flex-preferred-size: 25%;
				 flex-basis: 25%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	position: relative;
}

@media (max-width: 1054px) {
	main #graphic-design .column {
						  width: 33.33%;
		-ms-flex-preferred-size: 33.33%;
					 flex-basis: 33.33%;
	}

	main #graphic-design .column:last-child {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
						  width: 100%;
		-ms-flex-preferred-size: 100%;
					 flex-basis: 100%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	main #graphic-design .column:last-child a,
	main #graphic-design .column:last-child .quote {
		width: 33.33%;
	}

	main #graphic-design .column:last-child a:last-child {
		position: absolute;
		bottom: 0;
		left: 66.66%;
	}

	main #graphic-design .column:last-child a:first-child {
		-webkit-transform: translateY(100%);
		        transform: translateY(100%);
	}

	main #graphic-design .column:last-child .quote {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media (max-width: 825px) {
	main #graphic-design .column:last-child a:first-child {
		-webkit-transform: none;
		        transform: none;
	}

	main #graphic-design .column:last-child {
		display: block;
	}

	main #graphic-design .column,
	main #graphic-design .column:last-child {
						  width: 50%;
		-ms-flex-preferred-size: 50%;
					 flex-basis: 50%;
	}

	main #graphic-design .column:last-child img {
		display: block;
		width: 100%;
	}

	main #graphic-design .column:last-child a,
	main #graphic-design .column:last-child .quote {
		width: 100%;
	}

	main #graphic-design .column:last-child a:last-child {
		position: relative;
		top: 0;
		left: 0;
	}

	main #graphic-design .column:last-child .quote {
		position: relative;
		top: 0;
		left: 0;
	}
}

@media (max-width: 500px) {
	main #graphic-design .column,
	main #graphic-design .column:last-child {
						  width: 100%;
		-ms-flex-preferred-size: 100%;
					 flex-basis: 100%;
	}

	main #graphic-design .column a img {
		margin-bottom: 15px;
	}

	main #graphic-design .column:last-child a img {
		margin-bottom: 0px;
	}
}